<table class="table">
  <thead>
    <th>Nickname</th>
    <th>City</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Win %</th>
  </thead>
  <tbody>
    <% teams.each do |team| %>
      <tr>
        <td><%= team.nickname %></td>
        <td><%= team.city %></td>
        <td><%= team.wins %></td>
        <td><%= team.losses %></td>
        <td><%= number_to_percentage(team.win_percent, precision: 0) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
